
<div class="p-3">    
    <h1 class="text-center"> Carrito por ID</h1> 
    {{#if loguedUser}}
        <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
        {{#if user.username}}
            <h5 class="w-100">{{user.role}}</h5>
            <p class="pe-5 w-25">Username Github: {{user.username}}</p>
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
            <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>            
        {{else}}
            <h5 class="w-100">{{user.role}}</h5>
            <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
            <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
            <p class="pe-5 w-25">Email: {{user.email}}</p>
            <p class="pe-5 w-25">Edad: {{user.age}}</p>       
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
            <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>    
            <p class="pe-5 w-50">ID usuario: <span id="userId">{{user._id}}</span> </p>
            
        {{/if}} 
            <div class="container  w-75 d-flex  align-items-center justify-content-around ">
                <button class="btn btn-outline-dark  m-2 w-50" onClick=goToHome()> Home </button>
                <button class="btn btn-outline-primary   m-2 w-50" onclick="goToUserProfile()">Ver carrito</button>
                <button class="btn btn-outline-success   m-2 w-50" onclick="redirigirProductos()">Ver productos</button>
                <form id="formLogOut" class="m-2 w-50">
                    <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
                </form>
                {{#if user.adminOrPremium}}
                <button class="btn btn-outline-info  m-2 w-50" onClick=goToAddProducts()> Crear productos </button>
                {{/if}}           
                {{#if user.admin}}
                <button class="btn btn-outline-warning  m-2 w-50" onClick=goToMembershipsList()> Ver usuarios </button>
                <button class="btn btn-outline-warning  m-2 w-50" onClick=deleteInactiveUsers()> Borrar usuarios inactivos</button>
                {{/if}}
            <button class="btn btn-outline-success  m-2 w-50" onClick=goToUploadDocuments()> Subir imagenes </button>
            </div>
        </div> 
    {{/if}}

    {{#if hayResultados}}
    
    <table class="table table-dark table-striped text-center table-hover" id="{{cart._id}}">
    <thead>
        <tr>
            <th scope="col" colspan="6">Productos en carrito {{cart._id}}</th>
        </tr>
        <tr>
            <th scope="col" >ID Producto</th>
            <th scope="col" class="w-25">Nombre</th>
            <th scope="col" class="w-25">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Un</th>
            <th scope="col" class="w-25">Owner</th>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}

            <tr  id="{{this.product._id}}"> 
                <td>{{this.product._id}}</td>
                <td>{{this.product.title}}</td>
                <td>{{this.product.description}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.product.price}}</td>
                <td>{{this.product.owner}}</td>
            </tr>
        {{/each}}
            <td colspan="6">
                <button  onClick=vaciarCarrito("{{cart._id}}") type="button" class="btn btn-warning w-25 m-1" >
                    Vaciar el carrito
                </button>
                <button onClick=eliminarCarrito("{{cart._id}}") type="button" class="btn btn-danger w-25 m-1">
                    Eliminar el carrito
                </button>

            </td>
    </tbody>
    </table>

    {{else}}
        <h1 > parece que no hay carritos aun</h1>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/userNavigation.js"></script>

