
<div class="p-3 w-100">
    {{#if loguedUser}}
        <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
        {{#if user.username}}
            <h5 class="w-100">{{user.role}}</h5>
            <p class="pe-5 w-25">Username Github: {{user.username}}</p>
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
            <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>            
        {{else}}
            <h5 class="w-100">{{user.role}}</h5>
            <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
            <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
            <p class="pe-5 w-25">Email: {{user.email}}</p>
            <p class="pe-5 w-25">Edad: {{user.age}}</p>       
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
            <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>    
        {{/if}} 
            <div class="container  w-75 d-flex  align-items-center justify-content-around ">
                <button class="btn btn-outline-dark  m-2 w-50" onClick=goToHome()> Home </button>
                <button class="btn btn-outline-primary   m-2 w-50" onclick="goToUserProfile()">Ver perfil</button>
                <button class="btn btn-outline-success   m-2 w-50" onclick="redirigirProductos()">Ver productos</button>
                <form id="formLogOut" class="m-2 w-50">
                    <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
                </form>
                {{#if user.adminOrPremium}}
                <button class="btn btn-outline-info  m-2 w-50" onClick=goToAddProducts()> Crear productos </button>
                {{/if}}           
                {{#if user.admin}}
                <button class="btn btn-outline-warning  m-2 w-50" onClick=goToMembershipsList()> Ver usuarios </button>
                {{/if}}
            </div>
        </div> 
    {{/if}}
    
    <h1 class="text-center"> Carritos</h1> 
    {{#if paginatedCarts}}
    <table class="table table-dark table-striped text-center">
    <thead>
        <tr>
        <th scope="col">ID Carrito</th>
        <th scope="col">Productos</th>
        <th scope="col">Acciones Carrito</th>
        </tr>
    </thead>
    <tbody >            
        {{#each paginatedCarts.payload}}
            <tr  id="{{this._id}}">    
            <td >{{this._id}}</td>

            {{#if this.hasProducts}} 
            <td>
                <table class="table table-secondary text-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID Producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio </th>
                        </tr>
                    </thead>
                    {{#each this.products}}
                        <tbody id="{{this.product._id}}">
                            <td>{{this.product._id}}</td>
                            <td>{{this.product.title}}</td>
                            <td>{{this.product.description}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.product.price}}</td>
                        </tbody>
                    {{/each}}
                </table>

            </td>
            {{else}}
            <td>Carrito vacio</td>
            {{/if}}
            
            <td>
                {{#if this.hasProducts}} 
                    <button  onClick=vaciarCarrito("{{this._id}}") type="button" class="btn btn-warning w-75 m-1">
                        Vaciar
                    </button>
                    <button onClick=eliminarCarrito("{{this._id}}") type="button" class="btn btn-danger w-75 m-1">
                        Eliminar
                    </button>
                {{else}}
                    <button onClick=eliminarCarrito("{{this._id}}") type="button" class="btn btn-danger w-75 m-1">
                        Eliminar
                    </button>
                {{/if}}
            </td>
            </tr>
        {{/each}}
    </tbody>
    </table>

    <div class="botoneraPaginado">
        {{#if hasPrevPage}}
            <a href="/api/views/carts?limit={{limit}}&page={{prevPage}}" type="button" class="btn btn-outline-primary">
                Pagina previa
            </a>
        {{else}}
            <a type="button" class="btn btn-outline-secondary">
                Pagina previa
            </a>
        {{/if}}
        <div>
            <p>{{limit}} productos por pagina, pagina actual: {{page}} , total de paginas: {{totalPages}}</p>
        </div>
        {{#if hasNextPage}}
        <a href="/api/views/carts?limit={{limit}}&page={{nextPage}}" type="button" class="btn btn-outline-primary">
            Pagina Siguiente
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-secondary">
            Pagina Siguiente
        </a>
        {{/if}}
    </div>
    {{else}}
        <h1 > parece que no hay carritos aun</h1>
    {{/if}}
    <div id="cartsRealTime">  
        
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/userNavigation.js"></script>

