{{#if loguedUser}}
<div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around rounded">
    <h5 class="w-100">USUARIO LOGUEADO</h5>
    <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
    <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
    <p class="pe-5 w-25">Email: {{user.email}}</p>
    <p class="pe-5 w-25">Edad: {{user.age}}</p>       
    <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
    <form id="formLogOut" class=" w-50">
        <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
    </form>
</div>
{{else}}
 <div class="m-5 p-5 border border-dark">
    <h3 class="w-100 text-center ">NO HAY USUARIO LOGUEADO AUN</h3>
 </div>

<h5 class="text-center mt-5">¿Quieres loguearte?</h5>
<form id="formUserLogin" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_email"class="w-50 mt-2">Email</label>
    <input id="input_email" type="text" placeholder="input_email"class="w-50 mt-2">

    <label for="input_password"class="w-50 mt-2">Contraseña</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">
    <button type="submit" class="btn btn-success mt-4">¡ Iniciar sesion! </button>
</form>
 <div>
    <button class="btn btn-outline-success  mt-4" onClick=goToRegister()>¡ Quiero registrarme! </button> 
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4">¡ Ingresar con GITHUB! </button>
    </a>    
 </div>



{{/if}}



<script src="/js/userLogin.js"> </script>
<script src="/js/formLogOut.js"></script>