
<h3 class=" m-5 text-center">Hola, esta es una pagina para redireccionar a cada endpoint de manera mas facil</h3>

{{#if loguedUser}}
    <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
    {{#if user.username}}
        <h5 class="w-100">{{user.role}}</h5>
        <p class="pe-5 w-25">Username Github: {{user.username}}</p>
        <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
        <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>    
        <p class="pe-5 w-50">ID usuario: <span id="userId">{{user._id}}</span> </p>   
    {{else}}
        <h5 class="w-100">{{user.role}}</h5>
        <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
        <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
        <p class="pe-5 w-25">Email: {{user.email}}</p>
        <p class="pe-5 w-25">Edad: {{user.age}}</p>       
        <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
        <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>    
        <p class="pe-5 w-50">ID usuario: <span id="userId">{{user._id}}</span> </p>
    {{/if}} 
        <div class="container  w-75 d-flex  align-items-center justify-content-around ">
            <button class="btn btn-outline-dark  m-2 w-50" onClick=goToHome()> Home </button>
            <button class="btn btn-outline-primary   m-2 w-50" onclick="goToUserProfile()">Ver carrito</button>
            <button class="btn btn-outline-success   m-2 w-50" onclick="redirigirProductos()">Ver productos</button>
            <form id="formLogOut" class="m-2 w-50">
                <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
            </form>
            {{#if user.adminOrPremium}}
            <button class="btn btn-outline-info  m-2 w-50" onClick=goToAddProducts()> Crear productos </button>
            {{/if}}           
            {{#if user.admin}}
            <button class="btn btn-outline-warning  m-2 w-50" onClick=goToMembershipsList()> Ver usuarios </button>
            <button class="btn btn-outline-warning  m-2 w-50" onClick=deleteInactiveUsers()> Borrar usuarios inactivos</button>
            {{/if}}
            <button class="btn btn-outline-success  m-2 w-50" onClick=goToUploadDocuments()> Subir imagenes </button>
        </div>
    </div> 
{{else}}

<h5 class="text-center mt-5">FORMULARIO DE LOGIN</h5>
<form id="formUserLogin" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <div class="w-100 m-2  d-flex  flex-wrap align-items-center justify-content-around">
        <span class=" m-4  d-flex justify-content-center">
            <label for="input_email"class=" m-2  text-end">Email</label>
            <input id="input_email" type="text" placeholder="input_email"class=" m-2 ms-2">
        </span>
        <span class=" m-4  d-flex justify-content-center">
            <label for="input_password"class="  m-2   text-end">Contraseña</label>
            <input id="input_password" type="password" placeholder="input_password"class=" m-2 ms-2">
        </span>
    </div>
    <span class=" m-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">¡ Iniciar sesion! </button>
    </span>
</form>
     <div class="w-100 m-2  d-flex justify-content-around">
        <button class="btn btn-outline-success  mt-4 " onClick=goToRegister()>¡ Quiero registrarme! </button> 
        <a href="/api/users/session/github">
            <button  class="btn btn-outline-dark  mt-4 " >¡ Ingresar con GITHUB! </button>
        </a>  
        <button class="btn btn-outline-danger  mt-4 " onClick=goToRestorePassword()>Olvide mi contraseña...</button> 
    </div>
{{/if}}

<div>
    <div  class=" m-5 p-5 border border-dark">
        <h5>Productos</h5>
            <div class=" m-2 p-2 border border-ligth">
                    <a href="http://localhost:8080/api/products/add/form"><h6>Formulario para agregar productos a moongose</h6></a>
                    <a href="http://localhost:8080/api/products/"><h6>Api para ver productos</h6></a>
            </div>
                    
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver producto por ID</h6>
                <label for="idProducto">ID producto:</label>
                <p>Ejemplo de ID producto : 64300d3d4238e8b125d61976</p>
                <input type="text" id="idProducto" name="idProducto" min="1">
                <button onClick=redirigirPagProductoPorID() type="button" class="btn btn-outline-primary">
                VER PRODUCTO
                </button>     
            </div>
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver productos de forma grafica , Elegir paginado</h6>
                <label for="limit">Cantidad de productos por pagina</label>
                <input type="number" id="limit" name="limit" min="1" >
                <label for="page">Numero de pagina</label>
                <input type="number" id="page" name="page" min="1">                
                <button onClick=redirigirPagProductos() type="button" class="btn btn-outline-primary">VER PRODUCTO</button>
            </div>
    </div>

    <div  class=" m-5 p-5 border border-dark">
        <h5>Carritos</h5>
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver todas los carritos de forma grafica , Elegir paginado</h6>
                <label for="limitCart">Cantidad de carritos por pagina</label>
                <input type="number" id="limitCart" name="limitCart" min="1">
                <label for="pageCart">Numero de pagina</label>
                <input type="number" id="pageCart" name="pageCart" min="1">                
                <button onClick=redirigirPagCarritos() type="button" class="btn btn-outline-primary">VER CARRITOS</button>
            </div>
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver un Carrito por ID</h6>
                <label for="idCart">ID carrito:</label>
                <p>Ejemplo de ID carrito : 643be9502744fd9c6fcdd7ec</p>
                <input type="text" id="idCart" name="idCart" min="1">
                <button onClick=redirigirPagCarritosPorID() type="button" class="btn btn-outline-primary">
                VER PRODUCTO
                </button> 
            </div>
    </div>
<div>


<script src="/socket.io/socket.io.js"></script>

<script src="/js/userNavigation.js"></script>