
<h1 class=" p-3">Form para agregar nuevos productos </h1>
<div class=" p-3 text-end">
    <form class="d-flex flex-wrap" id="formCargaProducto" action="/api/products" method="post">
        <div class="mb-3 d-flex w-50">
            <label for="title" class="form-label p-1 w-25">Nombre</label>
            <input type="text" class="form-control 1 w-75" id="title" name="title" aria-describedby="title">
        </div>
        <div class="mb-3 d-flex  w-50">
            <label for="code" class="form-label p-1 w-25">Codigo</label>
            <input type="text" class="form-control w-75" id="code" name="code" aria-describedby="code">
        </div>
        <div class="mb-3 d-flex w-100">
            <label for="description" class="form-label p-1 w-10">Descripcion</label>
            <input type="text" class="form-control w-90" id="description" name="description"  aria-describedby="description">
        </div>

        <div class="mb-3 d-flex w-25">
            <label for="price" class="form-label p-1 w-10">Precio</label>
            <input type="number" class="form-control " id="price" name="price"  aria-describedby="price">
        </div>
        <div class="mb-3 d-flex w-50">
            <label for="category" class="form-label p-1 w-15">Categoria</label>
            <input type="text" class="form-control " id="category" name="category"  aria-describedby="category">
        </div> 
        <div class="mb-3 d-flex w-25">
            <label for="stock" class="form-label p-1 w-10">Stock</label>
            <input type="number" class="form-control " id="stock" name="stock" aria-describedby="stock">
        </div>
        <div class="mb-3 d-flex w-100">
            <label for="thumbnails" class="form-label p-1 ">Thumbnails</label>
            <input type="text" class="form-control" id="thumbnails" name="thumbnails" aria-describedby="thumbnails">
        </div>     
        <button type="submit" class="btn btn-primary w-50 mt-3">Enviar</button>
    </form>
</div>


{{#if hayResultados}}
    <h1 > Productos existentes</h1>
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Id</th>
        <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each payload}}
            <tr>    
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.description}}</td>  
            <td>{{this._id}}</td>
            <td>
                <label for="carrito">ID carrito</label>
                <input type="text" id="cid{{this._id}}" name="carrito">

                <label for="quantity">Cant:</label>
                <input type="number" id="quantity{{this._id}}" name="quantity" min="1">

                <button onClick=agregarProductoAlCarrito("{{this._id}}") id={{this._id}} type="button" class="btn btn-success">
                    Agregar a carrito
                </button>
                <button onClick=eliminarProducto("{{this._id}}") id={{this._id}} type="button" class="btn btn-danger">
                    Eliminar
                </button>
            </td>
            </tr>
        {{/each}}
    </tbody>
    </table>

    <div class="botoneraPaginado">
        {{#if hasPrevPage}}
        <a href="/api/views/products?limit={{limit}}&page={{prevPage}}" type="button" class="btn btn-outline-primary">
            Pagina previa
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-secondary">
            Pagina previa
        </a>
        {{/if}}
        <div>
            <p>{{limit}} productos por pagina, pagina actual: {{page}} , total de paginas: {{totalPages}}</p>
        </div>
        {{#if hasNextPage}}
        <a href="/api/views/products?limit={{limit}}&page={{nextPage}}" type="button" class="btn btn-outline-primary">
            Pagina Siguiente
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-secondary">
            Pagina Siguiente
        </a>
        {{/if}}
    </div>
    {{else}}
    <h1 > parece que no hay paginas</h1>
{{/if}}

<div class="p-3">
    <h1>Productos existentes</h1>
    <div id="productosRealTime">
        
     </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

