{{#if loguedUser}}
    <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
    {{#if user.username}}
        <h5 class="w-100">{{user.role}}</h5>
        <p class="pe-5 w-25">Username Github: {{user.username}}</p>
        <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
        <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>            
    {{else}}
        <h5 class="w-100">{{user.role}}</h5>
        <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
        <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
        <p class="pe-5 w-25">Email: {{user.email}}</p>
        <p class="pe-5 w-25">Edad: {{user.age}}</p>       
        <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
        <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>    
        <p class="pe-5 w-50">ID usuario: <span id="userId">{{user._id}}</span> </p>
    {{/if}} 
        <div class="container  w-75 d-flex  align-items-center justify-content-around ">
            <button class="btn btn-outline-dark  m-2 w-50" onClick=goToHome()> Home </button>
            <button class="btn btn-outline-primary   m-2 w-50" onclick="goToUserProfile()">Ver perfil</button>
            <button class="btn btn-outline-success   m-2 w-50" onclick="redirigirProductos()">Ver productos</button>
            <form id="formLogOut" class="m-2 w-50">
                <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
            </form>
            {{#if user.adminOrPremium}}
            <button class="btn btn-outline-info  m-2 w-50" onClick=goToAddProducts()> Crear productos </button>
            {{/if}}           
            {{#if user.admin}}
            <button class="btn btn-outline-warning  m-2 w-50" onClick=goToMembershipsList()> Ver usuarios </button>
            {{/if}}
            <button class="btn btn-outline-success  m-2 w-50" onClick=goToUploadDocuments()> Subir imagenes </button>
        </div>
    </div> 
{{/if}}

{{#if hayResultados}}
    <h4> Productos existentes</h4>
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Id</th>
        <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each payload}}
            <tr>    
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.description}}</td>  
            <td>{{this._id}}</td>
            <td>
                <div class="d-flex flex-wrap">
                    <div>
                        <label for="quantity" class="w-50">Cant:</label>
                        <input type="number" id="quantity{{this._id}}" name="quantity" min="1" class="w-25">
                        <label for="carrito" class="w-25">ID carrito</label>
                        <input type="text" id="cid{{this._id}}" name="carrito" class="w-50">
                        <button onClick=agregarProductoAlCarritoUsuario("{{this._id}}") id={{this._id}} type="button" class="btn btn-success w-100 my-1 ">
                            Agregar a carrito por ID
                        </button>
                    </div>
                    <button onClick=eliminarProducto("{{this._id}}") id={{this._id}} type="button" class="btn btn-danger w-100 ">
                        Eliminar PRODUCTO
                    </button>
                </div>
            </td>
            </tr>
        {{/each}}
    </tbody>
    </table>

    <div class="botoneraPaginado">
        {{#if hasPrevPage}}
        <a href="/api/views/products?limit={{limit}}&page={{prevPage}}" type="button" class="btn btn-outline-primary">
            Pagina previa
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-secondary">
            Pagina previa
        </a>
        {{/if}}
        <div>
            <p>{{limit}} productos por pagina, pagina actual: {{page}} , total de paginas: {{totalPages}}</p>
        </div>
        {{#if hasNextPage}}
        <a href="/api/views/products?limit={{limit}}&page={{nextPage}}" type="button" class="btn btn-outline-primary">
            Pagina Siguiente
        </a>
        {{else}}
        <a type="button" class="btn btn-outline-secondary">
            Pagina Siguiente
        </a>
        {{/if}}
    </div>
    {{else}}
    <h1 > parece que no hay paginas</h1>
{{/if}}

<div class="p-3">
    <h1>Productos existentes</h1>
    <div id="productosRealTime">
        
     </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsSocket.js"></script>
<script src="/js/products.js"></script>
<script src="/js/userNavigation.js"></script>

