
<div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around rounded">
    <h5 class="w-100">USUARIO</h5>
    <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
    <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
    <p class="pe-5 w-25">Email: {{user.email}}</p>
    <p class="pe-5 w-25">Edad: {{user.age}}</p>       
    <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>
    <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>   
    <form id="formLogOut" class=" w-50">
        <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
    </form>
    <button class="btn btn-outline-primary  m-2 w-50" onClick=goToHome()> Home </button>
</div>


{{#if rejectedProds}}
    <h5 class="text-center">Listado de productos rechazados, quedaran guardados en el carrito para la proxima compra</h6>
    <table class="table table-striped text-center">
        <thead>
            <tr>                
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each rejectedProds}}
                <tr>                
                    <td>{{this.product.title}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}

<div> 
    <h5 class="text-center">Listado de productos Aceptados</h5>
    <table class="table table-striped text-center">
        <thead>
            <tr>                
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each acceptedProds}}
                <tr>                
                    <td>{{this.product.title}}</td>
                    <td>{{this.quantity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class=" border border-success rounded p-4 m-4 ">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Precio productos comprados</li>
      <li class="list-group-item">{{amount}}</li>
    </ul>
    <ul class="list-group list-group-horizontal-sm">
      <li class="list-group-item">Comprador</li>
      <li class="list-group-item">{{purcharser}}</li>
    </ul>
    <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item">Codigo de Ticket</li>
      <li class="list-group-item">{{code}}</li>
    </ul>
    <ul class="list-group list-group-horizontal-lg">
      <li class="list-group-item">Fecha compra</li>
      <li class="list-group-item">{{purchase_datetime}}</li>
    </ul>
</div>


<script src="/js/formLogOut.js"> </script>
