
<div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around rounded">
    <h5 class="w-100">USUARIO</h5>
    <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
    <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
    <p class="pe-5 w-25">Email: {{user.email}}</p>
    <p class="pe-5 w-25">Edad: {{user.age}}</p>       
    <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>
    <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>   
    <form id="formLogOut" class=" w-50">
        <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
    </form>
</div>


{{#if rejectedProds}}
    <h2>Listado de productos rechazados, quedaran guardados en el carrito para la proxima compra</h2>
    <ul>
        {{#each rejectedProds}}
            <li>Productos rechazados: {{this.product.title}} / {{this.quantity}}</li>     
        {{/each}}
    </ul>
{{/if}}

<div> 
    <h2>Listado de productos Aceptados</h2>
    <ul>
        {{#each acceptedProds}}
            <li>Productos aceptados: {{this.product.title}} - Cantidad: {{this.quantity}}</li>     
        {{/each}}
    </ul>
</div>
<div>
    <h3>PRECIO DE PRODUCTOS: {{amount}}</h3>
    <h3>COMPRADOR: {{purcharser}}</h3>
    <h5>Codigo de Ticket: {{code}}</h5>
    <h5>Fecha: {{purchase_datetime}}</h5>
</div>

